@import url('https://fonts.googleapis.com/css?family=Monteserrat:500');

header {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    border-radius: 3rem;
    background-color: rgb(6, 142, 221);
    padding: 30px 10%;
}
header img{
    width: 100px;
}
#menu {
    font-family: "Montserrat", sans-serif;
}
.headline a:hover{
    border-bottom-color: #04B4AE;
}
.headline a {
    font-size: 3rem;
    list-style: none;
    color:white;
    border-bottom: 3px solid black;

}
li{
    list-style: none;
}
#menu li {
    border-bottom-color: black;
    list-style-type: none;
}

li:hover {
    border-bottom-color: #04B4AE;
}

#menu li:hover {
    border-bottom-color: white;

}

.container {
    display: flex;
    border: 3px solid #04B4AE;
    border-radius: 30px;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.container aside {
    background-color: rgb(0, 195, 255);
    justify-content: center;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-left: 5px dotted yellow;
}

.container nav {
    display: flex;
    flex-direction: row;
    border-top-left-radius: 27px;
    border-bottom-left-radius: 27px;
    background-color: rgb(0, 195, 255);
    padding-right: 10px;
    border-right: 5px dotted yellow;


}

@media screen and (max-width: 980px) {
    .container {
        flex-direction: column;
    }

    .container nav {
        border-right: none;
        border-bottom: 5px dotted yellow;
        border-top-left-radius: 27px;
        border-top-right-radius: 27px;
        border-bottom-left-radius: 0px;
    }

    .container aside {
        border-left: none;
        border-top: 5px dotted yellow;
        border-bottom-left-radius: 27px;
        border-bottom-right-radius: 27px;
        border-top-right-radius: 0px;
    }

    ul {
        display: flex;
        flex-direction: row;
    }

}

h1 {

    margin-bottom: 10px;
}

.container nav,
aside {
    flex-basis: 150px;
    flex-shrink: 0;
    text-align: center;
    align-items: center;
    flex-grow: 0.1;
    justify-content: center;
}

.container main {
    flex-basis: 600px;
    background-color: #04B4AE;
    flex-grow: 0.8;
    flex-shrink: 0;
}

table {
    float: right;
    border: 6px solid black;
}

tr {
    background-color: white;
    border-radius: 15px;
}


iframe {
    float: left;
    border: 5px solid #BF00FF;
    border-radius: 25px;
}

table {
    border-color: #BF00FF;
}

img {
    width: 250px;
    margin-right: 10px;
    margin-left: 10px;
}

#id_txt {
    border: 5px solid pink;
}

#password {
    border: 5px solid pink;
}

#main {
    color: #FE2EF7;
    font-size: 5rem;
    font-family: serif;
    text-align: center;
    display: block;
}

nav li {
    border: 3px solid powderblue;
    border-radius: 10px;
}

#ad {
    border: 5px solid powderblue;
    padding: 10px;
    margin: 10px;
    border-radius: 25px;
    background-color: white;
    align-items: center;
    align-content: center;
    justify-content: center;
    align-self: center;
}

a {
    font-size: 2rem;
    color: black;
    text-decoration: none;
}

#article {
    display: flex;
    justify-content: center;
}

#active {
    color: powderblue;

}

main {
    padding: 10px;
    text-align: center;
}

footer {
    padding: 10px;
    text-align: center;
    justify-content: center;
}

#navul {
    font-size: 16px;
    font-family: cursive;
    border: 5px solid gray;
    padding: 10px;
    border-radius: 25px;
    background-color: white;
    border-top-color: black;
    border-bottom-color: black;
}

#fow {
    position: fixed;
    top: 0;
    right: 0;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #58FAF4;
    padding: 2px;
    width: 50px;

}

.fow {
    font-size: 20px;
}

.fow:hover {
    color: yellow;
}

h2 {
    text-align: center;
}

#button {
    border: 5px solid powderblue;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    flex-direction: row;
}

button {
    border: 5px black;
    float:
}

form {
    display: flex;
    flex-direction: column;
    float: none;
}